Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: librsua
Upstream-Contact: Dalei Liu <daleiliu@gmail.com>
Source: https://github.com/daleiliu/librsua

Files: *
Copyright:COPYRIGHT
License: BSD-3-Clause

License: BSD-3-Clause
LICENSE
